extends ../../template/layout


block vars
  - var pageID = 'about-page';

block content
  .container-fluid
    .about-block
      .content-block
        .sec-block
          h2.sec-title.mb-4 奶油家族成員介紹
          img.img-fluid.family-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/family.png')
          .block-content
            p Welcome to the butters planet!
            p.mb-3 與奶油家族一起，為生活添加一點魔法。
            p 圍繞居住在奶油星球的甜點角色們，可露露、檸檬小子、吐司先生
            p.mb-3 以及其他甜點好朋友。
            p 未來還會發生什麼樣的故事，
            p 就讓我們跟著奶油家族一起享受吧！

        .role-block
          .role-box
            .role-name canele
            p 可露露
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/canele.png' alt="")
            .role-info
              p 人見人愛的可露露
              p 是個剛出生沒多久的BABE
              p 個性膽小卻貪玩愛冒險
              p 經常被自己嚇到臉歪歪
          .role-box
            .role-name lemon boy
            p 檸檬小子
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/lemon.png' alt="")
            .role-info
              p 調皮的檸檬小子
              p 外表斯文安靜
              p 實際上是個愛惡作劇的小子
          .role-box
            .role-name mr.toast
            p 吐司先生
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/toast.png' alt="")
            .role-info
              p 奶油家族的男子顏值擔當
              p 散發濃濃奶油香的生吐司
              p 總是收穫少女的愛慕眼光
              p 講話帶點英國紳士腔
              p 身上充斥著憂鬱煩惱的氣息
          .role-box
            .role-name pancake brother
            p 鬆餅哥
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/pancake.png' alt="")
            .role-info
              p 擁有自由的靈魂
              p 有一點痞痞帥帥的
              p 沒有戴上奶油帽就無法出門
              p 夢想能夠背上一把吉他
              p 過著清爽無負擔的奶油人生
          .role-box
            .role-name popcorn brothers
            p 爆米花三兄弟
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/popcorn.png' alt="")
            .role-info
              p 三兄弟住在法國遊樂園裡
              p 到哪裡都形影不離
              p 自然捲是天生的
              p 中間大哥是兄弟好榜樣
              p 右二弟總是未雨綢繆
              p 左小弟是天生糊塗蛋
          .role-box
            .role-name strawberry cake
            p 草莓蛋糕妹
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/strawberry.png' alt="")
            .role-info
              p 檸檬小子的青梅竹馬
              p 奶油家族的顏值擔當
              p 外表看似乖巧甜美
              p 實際上古靈精怪
              p 擁有反差萌的獨特魅力
          .role-box
            .role-name cherry cupcake
            p 櫻桃杯子蛋糕妹
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/cherry.png' alt="")
            .role-info
              p 草莓蛋糕妹的同班好友
              p 奧嘟嘟的表情有點小高冷
              p 要求完美、注重外貌
              p 頭上的奶油一定要蓬鬆豐盈
              p 不然她一整天都會不開心
          .role-box
            .role-name bread boy
            p 麵包小子
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/bread.png' alt="")
            .role-info
              p 檸檬小子的好朋友
              p 兩個人喜歡一起去踢足球
              p 從小住在法國
              p 雖然擁有法國人的浪漫情懷
              p 實際上個性老實、不敢跟女
              p 生講話
          .role-box
            .role-name mr.butter
            p 巴特
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/butter.png' alt="")
            .role-info
              p 忙碌的厭世上班族
              p 急性子和三分鐘熱度 
              p 興趣是泡奶茶
              p 總是笑臉迎人是個小吃貨
              p 想知道最近有什麼最紅的餐
              p 廳問他就對！
          .role-box
            .role-name ice-man cream
            p 雪人冰淇淋
            img.img-fluid.role-img(src='https://static.tpx.tw/sff-t/thebutters/static/img/iceman.png' alt="")
            .role-info
              p 來自雪國的雪人冰淇淋
              p 每年只有聖誕節才會來到奶
              p 油村，個性活潑，是製造歡
              p 樂的專家，跟可露露是一起
              p 打雪仗的好朋友