extends ../../template/layout


block vars
    - var pageID = 'size-char';

block content
    .content-block.content-md
        .size-char-container
            .size-block
                h3.size-char-title
                    span Size Chart
                    span (CM)
                .size-table
                    table.table
                        thead
                            tr
                                th(scope="col") SIZE<br>
                                th(scope="col") 腰圍<br>Waist
                                th(scope="col") 臀圍<br>Hips
                                th(scope="col") 前褲襠<br>Front rise
                                th(scope="col") 後褲襠<br>Back rise
                                th(scope="col") 大腿圍<br>Thigh
                                th(scope="col") 褲長<br>Outseam length
                                th(scope="col") 褲口寬<br>Leg opening
                                th(scope="col") 上衣長<br>Body length
                        tbody 
                            tr 
                                td(scope="row") XS
                                td ss
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                            tr 
                                td(scope="row") S
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                            tr 
                                td(scope="row") S
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                                td s
                p 本尺寸表皆為水平測量，會因布料彈性、水洗處理、測量起訖點等因素，與實際商品尺寸略有誤差，誤差尺寸±2cm，在國際驗貨標準範圍都是屬於可接受範圍，並不屬於瑕疵。
                p.mb-0 The size chart is for horizontal measurement. 
                p.mb-0 Due to factors such as fabric elasticity, washing treatment and the start and end point of measurement, there might be a slight error from the actual product size. Range of error is ±2cm, which is within the scope of international inspection standards.
                p It is within the acceptable range and not a defect.
                h3.size-char-title
                    span Fitting Report
                    span (CM)
                .fit-table 
                    table.table
                        thead
                            tr
                                th(scope="col") 試穿人員<br>Model
                                th(scope="col") 身高<br>Height
                                th(scope="col") 體重<br>Weight
                                th(scope="col") 身型<br>Shape
                                th(scope="col") 腰圍<br>Waist
                                th(scope="col") 臀圍<br>Hips
                                th(scope="col") 胸圍<br>Bust
                                th(scope="col") 肩寬<br>Shoulder
                                th(scope="col") 建議尺寸<br>Size
                        tbody 
                            tr 
                                td(scope="row") Tammy
                                td 00
                                td 00
                                td 00
                                td 00
                                td 00
                                td 00
                                td 00
                                td 00









