extends ../../template/layout


block vars
  - var pageID = 'about-page';

block content
  .container-fluid
    .about-block
      .sec-block
        h2.sec-title.mb-5 關於奶油家族
        .block-content.mb-5
          p PAZZO最有人氣的原創角色系列
          p 「為生活注入療癒的儀式感」
          p 在繁忙苦悶的日子裡，總是很努力的你
          p 有多久沒有好好享受生活了？
        .block-content.mb-5 
          p THE BUTTERS奶油家族
          p 希望透過療癒插畫角色的陪伴
          p 為生活增添一點驚喜與儀式感
        .block-content.mb-5
          p 從日常中把握最單純的快樂
          p 透過品牌精神讓人們喚醒初心
          p 享受每一刻的幸福美好，並且重新愛上生活！
        div
          img.img-fluid(src='https://via.placeholder.com/1325x818/0000FF/808080' alt="")
        
