<div class="alert-modal-style alert-cart-modal-style">
    <div class="modal-body">
        <a class="btn-cancel-alert btn-cancel" href="#">X</a>
        <div class="modal-info"></div>
        <div class="d-flex modal-btn">
            <div class="col">
                <a class="btn-confirm-alert btn btn-block btn-cart-style" href="#">確定 OK</a>
            </div>
            <div class="col">
                <a class="btn-confirm-wish btn btn-block btn-cart-style" href="#">加入願望清單 wishlist</a>
            </div>
        </div>
    </div>
</div>