<div class="alert-modal-style">
    <div class="modal-body">
        <div class="modal-info"></div>
            <div class="row">
                <div class="col">
                    <a id="" class="btn-confirm-alert btn btn-secondary w-100" href="#"><span>確定</span></a>
                </div>
                <div class="col">
                    <a id="" class="btn-cancel-alert btn btn-outline-secondary w-100" href="#"><span>取消</span></a>
                </div>
            </div>
    </div>
</div>