<div class="alert-modal-style">
    <div class="modal-body">
        <div class="modal-info"></div>
        <div class="text-center">
            <a class="btn-close-alert btn btn-secondary w-100" href="#"><span>確定</span></a>
        </div>
    </div>
</div>