<div class="pz-alert-modal-style">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="icon-pazzo"></i></h4>
        </div>
        <div class="modal-body">
            <div class="modal-info"></div>
        </div>
        <div class="modal-footer">
            <div class="col">
                <div class="btn-block">
                    <button type="button" class="btn-close-alert btn btn-outlined-primary w-100">確定</button>
                </div>
            </div>
        </div>
    </div>
</div>