<div class="alert-modal-style">
    <div class="modal-body">
        <div class="modal-info modal-text"></div>
        <div class="text-center">
            <a class="btn alert-confirm-btn" href="#">CONFIRM</a>
        </div>
    </div>
</div>