extends ../../template/layout


block vars
  - var pageID = 'lookbook';

block content
  .container-fluid
    .content-block
      h2.lookbook-title LOOKBOOK
      .lookbook-block
        a.lookbook-img(href="bookInfo.html")
          img.img-fluid(src='https://via.placeholder.com/774x478/0000FF/808080' alt="")
        a.lookbook-img(href="bookInfo.html")
          img.img-fluid(src='https://via.placeholder.com/774x478/0000FF/808080' alt="")
        a.lookbook-img(href="bookInfo.html")
          img.img-fluid(src='https://via.placeholder.com/774x478/0000FF/808080' alt="")
        a.lookbook-img(href="bookInfo.html")
          img.img-fluid(src='https://via.placeholder.com/774x478/0000FF/808080' alt="")
        a.lookbook-img(href="bookInfo.html")
          img.img-fluid(src='https://via.placeholder.com/774x478/0000FF/808080' alt="")
        a.lookbook-img(href="bookInfo.html")
          img.img-fluid(src='https://via.placeholder.com/774x478/0000FF/808080' alt="")