extends ../../template/layout


block vars
  - var pageID = 'page-store';

block content
  .main
    .content-block
      .side-block
        .side-title STORE
        .side-type 實體店鋪
      .store-block
        .store-info
          img.img-fluid(src='https://via.placeholder.com/580x325/0000FF/808080' alt="")
          .store-name
            span 台北信義店
            a(href="#" data-toggle="collapse" data-target="#collapse-store-1").collapse
          .text-block#collapse-store-1.collapse.show
            .paragraph
              p 1F PAZZO store形象概念店
              p 2F BRUN不然早午餐
              p 3F Garden空中花園
            .paragraph
              p PAZZO
              p 02 2707 0606
              p MON-SAT 08:30-22:00
              p SUN 08:30-21:00
            .paragraph
              p BRUN
              p MON-SAT 08:30-22:00
              p SUN 08:30-17:30
            .paragraph
              p 台北市大安區信義路四段103號
            .btn-group
              a.btn.btn-primary.btn-block.btn-link#btn-link-phone(href="") PHONE 
              a.btn.btn-primary.btn-block.btn-link#btn-link-map(href="") MAP 
        .store-info
          img.img-fluid(src='https://via.placeholder.com/580x325/0000FF/808080' alt="")
          .store-name
            span 台北信義店
            a(href="#" data-toggle="collapse" data-target="#collapse-store-2").collapsed
          .text-block#collapse-store-2.collapse
            .paragraph
              p 1F PAZZO store形象概念店
              p 2F BRUN不然早午餐
              p 3F Garden空中花園
            .paragraph
              p PAZZO
              p 02 2707 0606
              p MON-SAT 08:30-22:00
              p SUN 08:30-21:00
            .paragraph
              p BRUN
              p MON-SAT 08:30-22:00
              p SUN 08:30-17:30
            .paragraph
              p 台北市大安區信義路四段103號
            .btn-group
              a.btn.btn-primary.btn-block.btn-link#btn-link-phone(href="") PHONE 
              a.btn.btn-primary.btn-block.btn-link#btn-link-map(href="") MAP 
        .store-info
          img.img-fluid(src='https://via.placeholder.com/580x325/0000FF/808080' alt="")
          .store-name
            span 台北信義店
            a(href="#" data-toggle="collapse" data-target="#collapse-store-3").collapsed
          .text-block#collapse-store-3.collapse
            .paragraph
              p 1F PAZZO store形象概念店
              p 2F BRUN不然早午餐
              p 3F Garden空中花園
            .paragraph
              p PAZZO
              p 02 2707 0606
              p MON-SAT 08:30-22:00
              p SUN 08:30-21:00
            .paragraph
              p BRUN
              p MON-SAT 08:30-22:00
              p SUN 08:30-17:30
            .paragraph
              p 台北市大安區信義路四段103號
            .btn-group
              a.btn.btn-primary.btn-block.btn-link#btn-link-phone(href="") PHONE 
              a.btn.btn-primary.btn-block.btn-link#btn-link-map(href="") MAP 