#page-brand-info {
	.main {
		padding: 26px 0;
		position: relative;
	}

	.logo-text {
		display: none;
	}

	.product-menu-pc {
		margin-top: 80px;
	}

	.brand-logo {
		position: absolute;
		top: 0px;
		left: 0;
		padding-top: 206px;
		margin-left: 16px;
		width: 150px;
		img {
			width: 100%;
		}

		@include max_md {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			line-height: 59px;
			height: 30px;
			padding-top: 0;
		}
	}

	.slick-dots {
		display: flex;
		justify-content: space-between;
		bottom: 0;
		li {
			flex: 1;
			margin: 0;
			button {
				width: 100%;
				&:before {
					width: 100%;
					border-radius: 0;
				}
			}
			&.slick-active {
				button {
					&:before {
						background-color: #006fff;
					}
				}
			}
		}
	}

	.ad-block-m {
		padding: 40px;
	}

	.ad-block-pc {
		display: none;
	}

	.brand-block {
		display: flex;
		flex-direction: column;
		margin: 20px;
		border: 1px solid #afafaf;
		.img-wrap {
			img {
				width: 100%;
			}
		}

		.text-wrap {
			display: flex;
			align-items: center;
			padding: 12px 20px;
			.text {
				padding-right: 10px;
				.name {
					font-size: 20px;
				}
				.description {
					font-size: 12px;
				}
			}
		}

		@include min_lg {
			margin: 120px 0;
			flex-direction: row;
			.img-wrap {
				width: 50%;
			}
			.text-wrap {
				width: 50%;
			}
		}
	}

	.article-block {
		padding: 20px 20px 48px;
		.title-wrap {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			h3 {
				font-weight: 500;
			}
			span {
				font-size: 12px;
			}
		}
		.article-wrap {
			display: flex;
			justify-content: space-between;
			.article {
				flex: 0 1 49%;
				img {
					width: 100%;
				}
				.title {
					font-size: 14px;
				}
			}
		}
	}

	.product-menu-mb {
		border-top: 1px solid #afafaf;
		padding: 0;
	}

	.item-list-box {
		position: relative;
		padding: 26px 16px;
	}

	@include max_md {
		.sort-list .icon-filter {
			display: none;
		}
	}
}

@media (min-width: 768px) {
	#page-brand-info {
		.main {
			padding: 206px 16px 16px;
		}
		.ad-block-m {
			display: none;
		}

		.ad-block-pc {
			width: 100%;
			display: flex;
			padding: 40px;
			img {
				flex: 1;
				width: 33.3%;
			}
		}

		.article-block {
			padding: 0 0 100px;
			border-bottom: 1px solid #afafaf;
			margin-bottom: 100px;
			.title-wrap {
				margin-bottom: 8px;
				h3 {
					font-size: 24px !important;
				}
				span {
					font-size: 14px;
				}
			}
			.article-wrap {
				.article {
					.title {
						margin-top: 16px;
						font-size: 24px;
					}
				}
			}
		}

		.item-list-box {
			padding: 0;
		}
	}
}
