#burger-menu.sidebar
  .list-group
    .main-block
      ul.main-list
        li.sidebar-main-type#flagship-brand-type(href="#" data-list="#flagship-brand-list") 品牌旗艦館
        li.sidebar-main-type#all-brand-type(href="#" data-list="#all-brand-list") 品牌
        li.sidebar-main-type#clothes-type(href="#" data-list="#clothes-list") 服裝
        li.sidebar-main-type#beauty-type(href="#" data-list="#beauty-list") 美妝
        li.sidebar-main-type#shoe-type(href="#" data-list="#shoe-list") 鞋類
        li.sidebar-main-type#bag-type(href="#" data-list="#bag-list") 包包
        li.sidebar-main-type#accessory-type(href="#" data-list="#accessory-list") 配件
        li.sidebar-main-type#life-type(href="#" data-list="#life-list") 生活用品
    .sub-block
      .banner
        img.img-fluid(src='https://via.placeholder.com/243x138/0000FF/808080' alt="")
      ul.level2-list#flagship-brand-list
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
        li.level2-title pazzo1
      ul.level2-list#all-brand-list
        li.level2-title 你追蹤的品牌
        li.brand-name
          a.btn-heart.active
          span PAZZO
        li.brand-name
          a.btn-heart.active
          span MERCCI 22
        li.brand-name
          a.btn-heart.active
          span MIYUKI SELECT
        li.brand-name
          a.btn-heart.active
          span MOUGGAN
        li.brand-name
          a.btn-heart.active
          span The Butters
        li.level2-title A
          li.brand-name
            a.btn-heart
            span ABC-MART
          li.brand-name
            a.btn-heart
            span Aesop
          li.brand-name
            a.btn-heart
            span A-SHOP
          li.brand-name
            a.btn-heart
            span ARROW SHOP
          li.brand-name
            a.btn-heart
            span AAAAAAAplus+
        li.level2-title B
          li.brand-name
            a.btn-heart
            span Bradise New York
          li.brand-name
            a.btn-heart
            span BOO BOO
          li.brand-name
            a.btn-heart
            span BOBOMO
          li.brand-name
            a.btn-heart
            span Beauty Blender
          li.brand-name
            a.btn-heart
            span BBabe
      ul.level2-list#clothes-list
        li.level2-title  全部服裝
        li.level2-title 上身類(2層)
        ul.level3-list
          li BRA T(3層)
          li BRA T(3層)
          li BRA T(3層)
          li BRA T(3層)
          li BRA T(3層)
        li.level2-title 下身類(2層)
        ul.level3-list
          li 短褲(3層)
          li 長褲(3層)
          li 牛仔褲(3層)
          li BRA T(3層)
          li 內褲(3層)
        li.level2-title 連身類(2層)
        ul.level3-list
          li 洋裝(3層)
          li 連身褲(3層)
      ul.level2-list#beauty-list
        li.level2-title  全部美妝
      ul.level2-list#shoe-list
        li.level2-title  全部鞋類
      ul.level2-list#bag-list
        li.level2-title  全部包包
      ul.level2-list#accessory-list
        li.level2-title  全部配件
      ul.level2-list#life-list
        li.level2-title  全部生活用品