#category-sidebar.float-left.d-md-block.d-none
  .inner.h4
    ul
      - for(let i = 0; i<3; i++)
        li.mb-4
          a.d-inline-block.mb-2(href="#") TOP
          ol.ml-3
            li.mb-2
              a(href="#") 
                span.tag-main-txt 細肩帶
            li.mb-2
              a(href="#") 
                span.tag-main-txt 上衣
            li.mb-2
              a(href="#") 襯衫
        li.mb-4 
          a.d-inline-block.mb-2(href="#") BOTTOM
          ol.ml-3
            li.mb-2
              a(href="#") 群類
            li.mb-2
              a(href="#") 短褲
            li.mb-2
              a(href="#") 長褲
        li.mb-4
          a.d-inline-block.mb-2(href="#") OTHER
          ol.ml-3
            li.mb-2
              a(href="#") 外套
            li.mb-2
              a(href="#") 風衣
            li.mb-2
              a(href="#") 西裝外套