footer.footer
  .footer-inner
    .logo-u 
      a(href='/index.html')
    .text-info 
      .left
        a(href='mailto:service@urliving.com')
          p service@urliving.com
        p.business-num 統一編號 05406486
        p 營業人名稱 美而快實業股份有限公司
        p © URLIVING 2023
      .right
        .link-group 
          a(href='')
            p 關於 UR LIVING
          a(href='')
            p 重要公告
          a(href='')
            p 實體店鋪
        .link-group 
          a(href='')
            p How To Buy
          a(href='')
            p 常見問題
          a(href='')
            p 服務條款
          a(href='')
            p 隱私權政策
          a(href='')
            p 165反詐騙
        .action-block
          a.btn-len-mode
            span TW / TWD$ (中文)
          .social-media-group 
            a.social-media-btn#social-ig(href="/")
              i.ig
            a.social-media-btn#social-fb(href="/")
              i.fb
            a.social-media-btn#social-line(href="/")
              i.line
            a.social-media-btn#social-tiktok(href="/")
              i.tiktok

