#app-mini-cart
  header.header
    .header-inner 
      .logo-u 
        a(href='/index.html')
      .nav-block 
        .logo-text
          a(href='/index.html')
        .nav-list 
          .nav-name
            a(href="/") 品牌旗艦店
            .detail-block
              .detail-inner.brand
                ul.detail-list
                  li
                    a(href="") pazzo1
                  li
                    a(href="") pazzo2
                  li
                    a(href="") pazzo3
                  li
                    a(href="") pazzo4
                  li
                    a(href="") pazzo5
                //- ul.detail-list
                //-   li
                //-     a(href="") pazzo1
                //-   li
                //-     a(href="") pazzo2
                //-   li
                //-     a(href="") pazzo3
                //-   li
                //-     a(href="") pazzo4
                //-   li
                //-     a(href="") pazzo5
                //- ul.detail-list
                //-   li
                //-     a(href="") pazzo1
                //-   li
                //-     a(href="") pazzo2
                //-   li
                //-     a(href="") pazzo3
                //-   li
                //-     a(href="") pazzo4
                //-   li
                //-     a(href="") pazzo5
                //- ul.detail-list
                //-   li
                //-     a(href="") pazzo1
                //-   li
                //-     a(href="") pazzo2
                //-   li
                //-     a(href="") pazzo3
                //-   li
                //-     a(href="") pazzo4
                //-   li
                //-     a(href="") pazzo5
                //- ul.detail-list
                //-   li
                //-     a(href="") pazzo1
                //-   li
                //-     a(href="") pazzo2
                //-   li
                //-     a(href="") pazzo3
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
          .nav-name
            a(href="/brand.html") 品牌
          .nav-name
            a(href="/index.html") 服裝
            .detail-block
              .detail-inner.product
                ul.detail-list
                  li
                    a(href="") 上身類(2層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                ul.detail-list
                  li
                    a(href="") 下身類(2層)
                  li.font-regular
                    a(href="") 短褲(3層)
                  li.font-regular
                    a(href="") 長褲(3層)
                  li.font-regular
                    a(href="") 牛仔褲(3層)
                  li.font-regular
                    a(href="") 內褲(3層)
                ul.detail-list
                  li
                    a(href="") 連身類(2層)
                  li.font-regular
                    a(href="") 洋裝(3層)
                  li.font-regular
                    a(href="") 連身褲(3層)
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
          .nav-name
            a(href="/index.html") 美妝
            .detail-block
              .detail-inner.product
                ul.detail-list
                  li
                    a(href="") 上身類(2層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                ul.detail-list
                  li
                    a(href="") 下身類(2層)
                  li.font-regular
                    a(href="") 短褲(3層)
                  li.font-regular
                    a(href="") 長褲(3層)
                  li.font-regular
                    a(href="") 牛仔褲(3層)
                  li.font-regular
                    a(href="") 內褲(3層)
                ul.detail-list
                  li
                    a(href="") 連身類(2層)
                  li.font-regular
                    a(href="") 洋裝(3層)
                  li.font-regular
                    a(href="") 連身褲(3層)
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
          .nav-name
            a(href="/index.html") 鞋類
            .detail-block
              .detail-inner.product
                ul.detail-list
                  li
                    a(href="") 上身類(2層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                ul.detail-list
                  li
                    a(href="") 下身類(2層)
                  li.font-regular
                    a(href="") 短褲(3層)
                  li.font-regular
                    a(href="") 長褲(3層)
                  li.font-regular
                    a(href="") 牛仔褲(3層)
                  li.font-regular
                    a(href="") 內褲(3層)
                ul.detail-list
                  li
                    a(href="") 連身類(2層)
                  li.font-regular
                    a(href="") 洋裝(3層)
                  li.font-regular
                    a(href="") 連身褲(3層)
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
          .nav-name
            a(href="/index.html") 包包
            .detail-block
              .detail-inner.product
                ul.detail-list
                  li
                    a(href="") 上身類(2層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                ul.detail-list
                  li
                    a(href="") 下身類(2層)
                  li.font-regular
                    a(href="") 短褲(3層)
                  li.font-regular
                    a(href="") 長褲(3層)
                  li.font-regular
                    a(href="") 牛仔褲(3層)
                  li.font-regular
                    a(href="") 內褲(3層)
                ul.detail-list
                  li
                    a(href="") 連身類(2層)
                  li.font-regular
                    a(href="") 洋裝(3層)
                  li.font-regular
                    a(href="") 連身褲(3層)
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
          .nav-name
            a(href="/index.html") 配件
            .detail-block
              .detail-inner.product
                ul.detail-list
                  li
                    a(href="") 上身類(2層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                ul.detail-list
                  li
                    a(href="") 下身類(2層)
                  li.font-regular
                    a(href="") 短褲(3層)
                  li.font-regular
                    a(href="") 長褲(3層)
                  li.font-regular
                    a(href="") 牛仔褲(3層)
                  li.font-regular
                    a(href="") 內褲(3層)
                ul.detail-list
                  li
                    a(href="") 連身類(2層)
                  li.font-regular
                    a(href="") 洋裝(3層)
                  li.font-regular
                    a(href="") 連身褲(3層)
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
          .nav-name
            a(href="/index.html") 生活用品
            .detail-block
              .detail-inner.product
                ul.detail-list
                  li
                    a(href="") 上身類(2層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                  li.font-regular
                    a(href="") BRA T(3層)
                ul.detail-list
                  li
                    a(href="") 下身類(2層)
                  li.font-regular
                    a(href="") 短褲(3層)
                  li.font-regular
                    a(href="") 長褲(3層)
                  li.font-regular
                    a(href="") 牛仔褲(3層)
                  li.font-regular
                    a(href="") 內褲(3層)
                ul.detail-list
                  li
                    a(href="") 連身類(2層)
                  li.font-regular
                    a(href="") 洋裝(3層)
                  li.font-regular
                    a(href="") 連身褲(3層)
                .banner
                  img.img-fluid(src='https://via.placeholder.com/352x198/0000FF/808080' alt="")
      .action-block 
        a.action-btn#header-search(href="/")
          i.icon-search
        a.action-btn#header-close(href="#" data-sidebar="#burger-menu")
          i.icon-close
        a.action-btn#header-member(href="member.html")
          i.icon-member
        a.action-btn#header-wish-list(href="/")
          i.icon-heart
        a.action-btn#header-cart(href="/")
          i.icon-bag
          .total-count
            span {{totalCount}}