#bottom-bar.d-block.d-lg-none
  .bottom-action-block
    .bottom-action#bottom-more(href="#" data-sidebar="#burger-menu" data-close="#header-close" data-type="#clothes-type" data-list="#clothes-list" )
      i.icon-more
      .bottom-label More
    .bottom-action#bottom-wish-list
      i.icon-heart
      .bottom-label Wish List
    .bottom-action#bottom-brand
      i.icon-brand
      .bottom-label Brand
    .bottom-action#bottom-cart
      i.icon-bag
      .bottom-label Bag
      .total-count
        span {{totalCount}}
    .bottom-action#bottom-member
      i.icon-member
      .bottom-label Account