extends ../../template/layout


block vars
  - var pageID = 'page-brand';

block content
  .main#app-brand
    .content-block
      .filter-block
        .filter-title BRAND
        ul.detail-list
          li.letter
            a.filter-btn(href="" data-target="#a-group")
              p A
            a.filter-btn(href="" data-target="#b-group")
              p B
            a.filter-btn(href="" data-target="#c-group")
              p C
            a.filter-btn(href="" data-target="#d-group")
              p D
            a.filter-btn(href="" data-target="#e-group")
              p E
            a.filter-btn(href="" data-target="#f-group")
              p F
          li.letter
            a.filter-btn(href="" data-target="#g-group")
              p G
            a.filter-btn(href="" data-target="#h-group")
              p H
            a.filter-btn(href="" data-target="#i-group")
              p I
            a.filter-btn(href="" data-target="#j-group")
              p J
            a.filter-btn(href="" data-target="#k-group")
              p K
            a.filter-btn(href="" data-target="#l-group")
              p L
          li.letter
            a.filter-btn(href="" data-target="#m-group")
              p M
            a.filter-btn(href="" data-target="#n-group")
              p N
            a.filter-btn(href="" data-target="#o-group")
              p O
            a.filter-btn(href="" data-target="#p-group")
              p P
            a.filter-btn(href="" data-target="#q-group")
              p Q
            a.filter-btn(href="" data-target="#r-group")
              p R
          li.letter
            a.filter-btn(href="" data-target="#s-group")
              p S
            a.filter-btn(href="" data-target="#t-group")
              p T
            a.filter-btn(href="" data-target="#u-group")
              p U
            a.filter-btn(href="" data-target="#v-group")
              p V
            a.filter-btn(href="" data-target="#w-group")
              p W
            a.filter-btn(href="" data-target="#x-group")
              p X
          li.letter
            a.filter-btn(href="" data-target="#y-group")
              p Y
            a.filter-btn(href="" data-target="#z-group")
              p Z
            a.filter-btn(href="" data-target="#num-group")
              p 0-9
      .brand-block
        p.block-title#follow-title 你追蹤的品牌
        .brand-group#follow-group
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'True'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title A
        .brand-group#a-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title B
        .brand-group#b-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title C
        .brand-group#c-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title D
        .brand-group#d-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title E 
        .brand-group#e-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title F  
        .brand-group#f-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title H  
        .brand-group#h-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title I  
        .brand-group#i-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title J  
        .brand-group#j-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title K  
        .brand-group#k-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title L  
        .brand-group#l-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") PAZZO
        p.block-title M  
        .brand-group#m-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") Mercci 22
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") Mouggan
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") Mellow
        p.block-title 0-9
        .brand-group#num-group
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") 1028
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") 16 brand
          .brand-name 
            brand-btn(:brandactive="'False'", :brandcode="'123'")
            a(href="") 3CE
