ul.cart-steps
  li
    p.step-num 01
    span.circle
    .step-text 
      p 選擇付款方式
      p.en-text Choose Form Of<br>Payment
  li.fill-info
    p.step-num 02
    span.circle.active
    .step-text
      p 填寫訂單資料
      p.en-text Fill Out<br>Delivery Information
  li
    p.step-num 03
    span.circle
    .step-text
      p 訂購完成
      p.en-text Order<br>Placed
