extends ../../template/layout

block vars
  - var pageID = 'page-newsPage';

block content
  .main#article
    .content-block
      .article-wrap
        .article-change
          .article-change-title NEWS
          ul.article-change-items
            li.active
              a(href="") 重要公告
            li
              a(href="") 活動資訊
            li
              a(href="") 趨勢文章
        .article-info
          .news-page
            .news-page-title 慶開幕 綁定LINE好友 立即獲得500元購物金！活動只到 #[span 2023.12.12]
            img.img-fluid(src='https://via.placeholder.com/1192x370/0000FF/808080' alt='')
            .news-page-content
              p 內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
            a.btn.btn-block.btn-primary(href="/news.html") 回上一頁