#ZZCZml7uFydw.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        .title 折價券限定商品
        a.modal-close(data-dismiss='modal' href='#')
          i.icon-close
      .modal-body
        ul.exclusive_list
          li
            .cover-block
              img.img-fluid.product-pic(src="https://via.placeholder.com/90x115/0000FF/808080", :alt="market.Name")
            .text-block
              p PAZZO


              a(href="/market/n/15861?c=35399") 一字領雪紡
          li
            .cover-block
              img.img-fluid.product-pic(src="https://via.placeholder.com/90x115/0000FF/808080", :alt="market.Name")
            .text-block
              p PAZZO
              a(href="/market/n/15861?c=35399") 休閒棉麻寬鬆連身褲
          li
            .cover-block
              img.img-fluid.product-pic(src="https://via.placeholder.com/90x115/0000FF/808080", :alt="market.Name")
            .text-block
              p PAZZO
              a(href="/market/n/15861?c=35399") Woody Cedar恬暖木質滾珠香氛油
          li
            .cover-block
              img.img-fluid.product-pic(src="https://via.placeholder.com/90x115/0000FF/808080", :alt="market.Name")
            .text-block
              p PAZZO
              a(href="/market/n/15861?c=35399") Chilly Bergamot 清澈柑橘滾珠香氛油
          li
            .cover-block
              img.img-fluid.product-pic(src="https://via.placeholder.com/90x115/0000FF/808080", :alt="market.Name")
            .text-block
              p PAZZO
              a(href="/market/n/15861?c=35399") 空氣層澎澎感長褲(雲朵褲2.0)
