.share-content {
	position: relative;
	z-index: 1050;
	background-color: white;
	padding: 70px 30px 40px;

	.btn-delete {
		position: absolute;
		top: -52px;
		right: -12px;
	}
	.icon-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.link-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 25px;
		input {
			width: 65%;
			height: 44px;
			border: 1px solid #afafaf;
			border-radius: 0;
			color: #afafaf;
			padding: 0 16px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			&:focus {
				outline: none;
			}
		}
		a {
			width: 33%;
			height: 44px;
			line-height: 44px;
			background: #000;
			color: #fff;
			text-align: center;
			cursor: pointer;
      user-select: none;
      &:active {
        background: #fff;
        color: #000;
        border: 1px solid #000;
      }
		}
	}
}

.slide-content {
	max-width: 400px;
	margin: auto;
	position: relative;
}

.share-dialog {
	max-width: 400px;
	.btn-delete {
		position: absolute;
		top: 18px;
		right: 20px;
	}
}
