.product-menu-pc
  ul
    li
      a.all.active(href='') 全部服裝
    li
      a.second-menu.active(href='') 上身類
      ul.third-menu
        li
          a(href='') Bra Tops
        li
          a(href='') 細肩帶/背心
        li
          a(href='') 無袖
        li
          a(href='') 長袖上衣
        li
          a(href='') 襯衫
        li
          a(href='') 洋裝
    li
      a.second-menu(href='') 下身類
      ul.third-menu
        li
          a(href='') 短褲
        li
          a(href='') 長褲
        li
          a.active(href='') 牛仔褲