.product-menu-mb
  ul.first-menu-mb
    li
      a(href='') 服裝
    li
      a.active(href='') 美妝
    li
      a(href='') 鞋類
    li
      a(href='') 包包
    li
      a(href='') 配件
    li
      a(href='') 生活用品
  ul.second-menu-mb
    li
      a(href='') 上身類
    li
      a.active(href='') 下身類
    li
      a(href='') 連身類
  ul.third-menu-mb
    li
      a(href='') Bra Tops
    li
      a(href='') 細肩帶/背心
    li
      a.active(href='') 無袖
    li
      a(href='') 長袖上衣
    li
      a(href='') 襯衫
    li
      a(href='') 洋裝
    li
      a(href='') 外套
    li
      a(href='') 針織