#popup-qrcode.modal.fade
    .modal-dialog.mx-auto
      .modal-content
        div.pb-5
          h4.modal-title
          a.btn-close(href="#", data-dismiss="modal")
            i.icon-close2
        .modal-body
          img(src="http://staticblob.blob.core.windows.net/sff-t/mouggan/static/img/qrcode2.jpg", alt="")