.block-widge
  .fasney-member-title
    h4 fa points
    //- .check-block
    //-   i.icon-white-check
    //-   span.ml-1 已綁定
  //- 未綁定
  .fasney-wrap
    .fasney-block
      .fasney-text 快速綁定 fa points 即刻享受點數折抵！
      a.btn.btn-fasney(href='/point/fasney') 立即綁定拿點數 
    a.fasney-link(href='' target="_blank") fa points 說明
  //- 已綁定
  .fasney-wrap
    .fasney-block
      div
        .fasney-point 現有點數：
          span 1,017
        .fasney-text 綁定時間：2022/11/11 11:11:11
      div
        a.btn.btn-fasney(href='') 查看點數