form#form-reset-password.user-password-block(action='' method='POST')
  h3.member-title 修改密碼
  .modify-group-password 
    input.form-control(id="reset-old-password" type='password' name='originpassword' required placeholder='請輸入舊密碼')
  .modify-group-password 
    input#new-password.form-control(type='password' name='password' required placeholder='請輸入新密碼(6-15碼英數字)')
  .modify-group-password 
    input.form-control(id="reset-confirm-password" type='password' name='checkpassword' required placeholder='請再輸入一次新密碼' )
  input.btn.btn-reset-confirm(type='submit' value='確認')