.block-widge
  h4.member-title 線上帳戶
  .online-coupon-block
    .online-coupon
      .online-coupon-text LINE會員帳號
      //- a.btn.btn-coupon(href='#') 立即綁定
      a.btn.btn-line-binded(href='#') 已綁定
    .online-coupon
      .online-coupon-text 購物金：$0 元
      a.btn.btn-coupon(href='wallet.html') 帳戶明細
    .online-coupon
      .online-coupon-text 折價券：0 張
      a.btn.btn-coupon(href='coupon.html') COUPON明細