extends ../../template/layout

block vars
  - var pageID = 'page-story';

block content
  #app-story.container-fluid
    story-layout(:mode="21", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/1.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/2.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/3.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/4.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/5.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/6.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/7.jpg'}]")

    story-layout(:mode="2", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/8.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/9.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/10.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/11.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/12.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/13.jpg'}]")

    story-layout(:mode="12", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/14.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/15.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/16.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/17.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/18.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/19.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/20.jpg'}]")

    story-layout(:mode="2", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/21.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/22.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/23.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/24.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/25.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/26.jpg'}]")

    story-layout(:mode="1", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/27.jpg'}]")

    story-layout(:mode="12", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/28.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/29.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/30.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/31.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/32.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/33.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/34.jpg'}]")

    story-layout(:mode="2", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/35.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/36.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/37.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/38.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/39.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/40.jpg'}]")

    story-layout(:mode="2", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/41.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/42.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/43.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/44.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/45.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/46.jpg'}]")
    //- 
    story-layout(:mode="14", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/47.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/48.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/49.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/50.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/51.jpg'}]")

    story-layout(:mode="4", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/52.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/53.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/54.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/55.jpg'}]")

    story-layout(:mode="2", :imgs="[{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/56.jpg'},{'link':'', 'imgLink': 'https://pics.mouggan.com/mouggan/Story/story1125/57.jpg'}]")



   
    
    
    