extends ../../template/layout

block vars
  - var pageID = '';

block content
  .container-fluid
    div.content-block.content-sm
      form#form-ig-validate.show-block(action='', method='post')

      



