ul
  li
    a(href='/Home/News/') 單筆訂單滿額贈【品牌週年環保水壺】
  li
    a(href='/Home/News/') 電話客服異動公告
  li
    a(href='/Home/News/') 海外部分國家無法出口通知
  li
    a(href='/Home/News/') 6/20起停止【北北基地區當日配服務】
  li
    a(href='/Home/News/') 取貨便利 付款安全
  li
    a(href='/Home/News/') 防範詐騙貼心提醒
  li
    a(href='/Home/News/') 宅急便服務變更公告