ul
  li
    a(href='/Home/News/') 滿1,500元贈送【A MINÉ MÉ刷具化妝包組】 已贈畢
    ul
      li.now
        a(href='#') 如何成為會員
      li
        a(href='#') 如何修改個人資料及密碼
      li
        a(href='#') 忘記密碼怎麼辦
      li
        a(href='#') VIP的優惠與折扣
  li
    a(href='/Home/News/') 滿1,000元贈送【HOLIDAY CLUB 緞帶舒眠眼罩】內含任一件指定DARLINGME系列商品
    ul
      li
        a(href='mag.html') 如何成為會員
      li
        a(href='#') 如何修改個人資料及密碼
      li
        a(href='#') 忘記密碼怎麼辦
      li
        a(href='#') VIP的優惠與折扣
  li
    a(href='/Home/News/') 退貨服務更新
    ul
      li
        a(href='#') 如何成為會員
      li
        a(href='#') 如何修改個人資料及密碼
      li
        a(href='#') 忘記密碼怎麼辦
      li
        a(href='#') VIP的優惠與折扣
  li
    a(href='/Home/News/') 免付費客服專線
    ul
      li
        a(href='#') 如何成為會員
      li
        a(href='#') 如何修改個人資料及密碼
      li
        a(href='#') 忘記密碼怎麼辦
      li
        a(href='#') VIP的優惠與折扣
  li
    a(href='/Home/News/') 防範詐騙貼心提醒
    ul
      li
        a(href='#') 如何成為會員
      li
        a(href='#') 如何修改個人資料及密碼
      li
        a(href='#') 忘記密碼怎麼辦
      li
        a(href='#') VIP的優惠與折扣