case mockContent
  when 'qa'
    p ˙將喜愛的商品加入購物車→進入購物車點選前往結帳→登入／註冊會員（或由第三方登入）→選擇結帳方式→確認收件資料→完成購物並確認訂單編號產生
    p ˙商品加入購物車但未完成結帳前並無保留商品庫存功能，商品庫存分配將以結帳順序為依據。
    p ˙當包裹出貨完成未被領取或拒收退回(出貨後7日計算)，該訂購帳號若達三次將無法使用此配送方式。
    p ˙國內配送時間約2-3個工作天，若您遲遲未收到商品，請盡速與客服連絡。
    p ˙若包裹為異常包裹，客服人員將會與您聯繫通知或E-MAIL通知。
    p ˙如出貨遇不可抗力之因素影響，將視狀況處理並於官網及粉絲團公告，實際出貨時間將以您收到的出貨通知E-mail為準，還請見諒。
    p ˙提醒您，若您無故或惡意違反我司制定訂購與退貨相關規則，本公司有權暫停您的帳號並拒絕您使用本服務，同時列為交易黑名單，還請您留意。
    p 《預購訂單》
    p ˙預購與現貨商品因到貨及配送時間不同須分開下單(優惠組合及運費恕不合併計算)，預購單待全數商品到齊後出貨。
    p ˙預購訂單依據製作時間、貨物配送、海關檢驗等概估天數，每款商品到貨天數不同，若提早到貨將會盡早出貨，還請留意且見諒。

    div.member-table
      table(cellpadding='2' cellspacing='0')
        tbody
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 首次入會禮
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 首次入會獨享禮（BUTTER COUPON $100元 ）
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 首購限定
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 開站首次下單享 #奶油家族首購禮
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 會員卷
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 不定期可領取（BUTTER COUPON $__元） 
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 會員日
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 每月6日會員福利
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 免運門檻
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') $2000
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 累積折扣卷
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 快來查看你總共擁有多少BUTTER COUPON
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 好友限定
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 加入LINE好友領取專屬BUTTER COUPON $50元，立即買份交換禮物

    div.vip-table
      table(cellpadding='2' cellspacing='0')
        tbody
          tr
            td(bgcolor='#ecdfce' style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120')
              br
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 會員
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 銀卡
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 奶油卡
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 申請資格
            td(style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;')
              | 免費註冊
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;')
              | 單筆消費滿$10000元
              br
              | 一年內累積滿$15000元
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;')
              | 單筆消費滿$20000元
              br
              | 一年內累積滿$30000元
              br
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 續會條件
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') 永久會員
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;') 消費累計期間滿$12000元即可續會
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;') 消費累計期間滿$25000元即可續會
              br
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 優惠回饋
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') x
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; text-align: left;')
              p *官網正價品享全年消費95折
              p *生日BUTTER COUPON $600
              p *續會寵粉BUTTER COUPON
              p *銀卡BUTTER COUPON $200
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;')
              p *官網正價品享全年消費9折
              p *奶油卡升等禮及專屬奶油卡乙張
              p *不定期專屬奶油訂製禮免費送
              p *生日BUTTER COUPON $1200
              p *奶油卡BUTTER COUPON $1000
              p *續會寵粉BUTTER COUPON
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 消費優惠
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') x
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;') 95折
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;') 9折
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 會員禮
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') x
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;') x
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; vertical-align: middle; text-align: left;') 獨家款奶油卡訂製禮
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') BUTTER COUPON 
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') $100
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;') $200 ( $100*2 )
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;') $1000 ( $500*2 )
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 生日<br>BUTTER COUPON 
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') x
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;') $600
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;') $1200
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 續會寵粉<br>BUTTER COUPON 
            td(style='border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 10px; border-left: #c9c9c9 1px solid; padding-right: 10px;') x
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;') $600
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;') $1200
          tr
            td(bgcolor='#ecdfce' style='white-space: nowrap; border-top: #c9c9c9 1px solid; border-right: #c9c9c9 1px solid; vertical-align: middle; border-bottom: #c9c9c9 1px solid; padding-bottom: 5px; text-align: center; padding-top: 5px; border-left: #c9c9c9 1px solid;' width='120') 備註
            td(style='border: 1px solid #c9c9c9; padding: 5px 10px; white-space: nowrap; vertical-align: middle; text-align: left;' colspan='3')
              p 消費優惠：以商品原價計算折扣金額
              p 生日BUTTER COUPON：於生日當月1號PM12:00自動歸戶
              p 無消費門檻限制/限使用於商品折抵/僅提供單筆訂單使用/須於當月最後一天23:59:59前使用完畢
              p (若訂購預購商品/商品退貨後，禮券已過使用期限，恕無法提供再次使用)


  when 'news'
    p.mb-0 December 10, 2021
    p 單筆訂單滿額贈【品牌週年環保水壺】
    img.img-fluid(src='https://via.placeholder.com/612x403/0000FF/808080' alt="")