ul
  li.service
    a(href='#') 如何購買
  li
    a(href='#') 折價券使用方式
  li
    a(href='#') 付款方式
  li
    a(href='#') 退貨注意事項
  li
    a(href="#") 退款方式及時間
  li
    a(href='#') VIP會員制度
  li
    a(href='#') 如何使用購物金
  li
    a(href='#') 關於發票
  li
    a(href='#') FAQS
  li
    a(href='#') 物流配送
  li.policy
    a(href='#') 隱私權保護
  li
    a(href='#') 服務條款

  
  
  
  