ul#about-list
  li
    a(href='aboutpazzo.html#1') 關於#{bdname}
  li
    a(href='/aboutpazzo.html#2') 品牌精神
  li
    a(href='/aboutpazzo.html#3') 人才募集
  li
    a(href='/aboutpazzo.html#4') 優質廠商合作專區
  li
    a(href='/aboutpazzo.html#5') #{bdname}服務條款
  li
    a(href='/aboutpazzo.html#6') 隱私權保護政策